# Ignore Python compiled files
*.pyc

# Ignore folder for virtual environments
env/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore the data folder
data/

# ignore .idea folder
.idea/
